
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: url("external/cdn2.editmysite.com/fonts/Quattrocento/regular.eot"); /* IE9 Compat Modes */
  src: url("external/cdn2.editmysite.com/fonts/Quattrocento/regular.eot") format('embedded-opentype'), /* IE6-IE8 */
       url("external/cdn2.editmysite.com/fonts/Quattrocento/regular.woff2") format('woff2'), /* Super Modern Browsers */
       url("external/cdn2.editmysite.com/fonts/Quattrocento/regular.woff") format('woff'), /* Modern Browsers */
       url("external/cdn2.editmysite.com/fonts/Quattrocento/regular.ttf") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  src: url("external/cdn2.editmysite.com/fonts/Quattrocento/bold.eot"); /* IE9 Compat Modes */
  src: url("external/cdn2.editmysite.com/fonts/Quattrocento/bold.eot") format('embedded-opentype'), /* IE6-IE8 */
       url("external/cdn2.editmysite.com/fonts/Quattrocento/bold.woff2") format('woff2'), /* Super Modern Browsers */
       url("external/cdn2.editmysite.com/fonts/Quattrocento/bold.woff") format('woff'), /* Modern Browsers */
       url("external/cdn2.editmysite.com/fonts/Quattrocento/bold.ttf") format('truetype'); /* Safari, Android, iOS */
}